.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: no-repeat url('../../../images/triangle.svg');
  background-size: cover;
  position: absolute;
  top: -20px;
  /*
  Временный фикс. В брифе изображение выглядит некорректно, для того, чтобы довести до уровня брифа - в
  "Можно лучше" следует написать про top: -20px;
  */
  right: -210px;
  z-index: -1;
}
