@import url('./_theme/table__heading_theme_dark.css');

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  margin: 0 0 20px;
  /*
  Отступы схлопнуться. Это "Можно лучше" - если текста не будет, а будет другое содержимое - у заголовка будут собственные отступы, создающие пространство
  между элементами.
   */
}
