.feynman__title {
  max-width: 775px;
  /* Ошибка в брифе. Недостежимая игрушка, 770px -- ошибка. В "Можно лучше" пишите про 775px */
  font-size: 120px;
  line-height: 1.15;
  text-align: center;
  margin: 0 auto;
}
