.logo_place_footer {
  width: 183px;
  height: 37px;
  /*
  В eng брифе идет речь про 32px, но это неправда. В "Можно лучше" подскажие пока студентам либо
  увеличить высоту до 37px; Либо воспользоваться background-size: contain;
  */
  /* Если слегка обрезается - допустимо, ничего критичного. */
  background-image: url('../../../images/logo_white.png');
}
