.logo_place_header {
  width: 154px;
  height: 31px;
  background-image: url('../../../images/logo.png');
  position: absolute;
  top: 30px;
  left: 64px;
  /* Изменяющиеся стили и позиционирование */
}
