@import url('./_theme/section-title_theme_dark.css');

.section-title {
  max-width: 60%;
  font-size: 60px;
  line-height: 69px;
  text-align: center;
  margin: 0 auto;
  /* Можно лучше: добавьте margin-top 100 для заголовка, убрав его у секций, где используется данный блок */
}
