@import url('./__item/cards__item.css');
@import url('./__image/cards__image.css');
@import url('./__title/cards__title.css');
@import url('./__description/cards__description.css');

.cards {
  width: 920px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/*
  Можно посоветовать:
  margin: 0px -50px;

*/
