@import url('./__cell/table__cell.css');
@import url('./__heading/table__heading.css');
@import url('./__text/table__text.css');

.table {
  width: 1100px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
