@import url('./__author/footer__author.css');
@import url('./__column/footer__column.css');
@import url('./__column-heading/footer__column-heading.css');
@import url('./__column-link/footer__column-link.css');
@import url('./__column-links/footer__column-links.css');
@import url('./__columns/footer__columns.css');
@import url('./__list/footer__list.css');
@import url('./__social-icon/footer__social-icon.css');

.footer {
  min-height: 350px;
  display: flex;
  /* Допустимо использовать здесь флекс для того, чтобы расправить footer__columns. Альтернатива height: 100% */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Изменяем box-sizing, все влезло в min-height, в том числе и внутренние отступы */
  background: #1F1F1F;
  padding: 60px 0 40px;
}
