@import url('__link/feynman__link.css');
@import url('__title/feynman__title.css');
@import url('__subtitle/feynman__subtitle.css');

.feynman {
  min-height: 790px;
  /* Можно лучше: использовать flex-column с центровкой. */
  /*
  Не хорошо делать высоту фиксированной. Фиксированные значения могут привести к проблемой с версткой при добавлении
  контента
  */
  background: #F2F2F2;
  background-image: url('../../images/feynman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  /*
  Можно посоветовать shorthand:
  background: no-repeat left bottom url('../images/feynman.png'),
  #F2F2F2;
  background-size: 867px 637px;
  */
  position: relative;
}
