.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover;
  /*
  Можно лучше: Изображения могут искажаться в пропорциях. На всякий случай, хорошо бы задавать поведения для фонового или контентного изображения изображения.
  Ссылка на object-fit;
  */
  position: absolute;
  right: 0;
  bottom: 0;
  /* Можно лучше: указывая значение 0 для margin/padding/top/left не стоит использовать единицу измерения */
}
