@import url('./_theme/section-subtitle_theme_dark.css');

.section-subtitle {
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  margin: 20px auto 0;
  /* Допустимо миксовать от родителя для создания отступов. Как "Можно лучше" */
}
