.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity 1s ease-out;
  /* Можно лучше, использовать transition */
}

.feynman__link:hover {
  opacity: 0.3;
}
